<div class="col-sm-4 blog-sidebar">
  <div class="blog-contribute">
    {% set recent = collections.blog|limit(5, 0) %}
    <h4>Recent Posts</h4>
    <ul>
      {% for post in recent %}
      <li><a href="{{site_url}}{{post.path}}/">{% if post.chineseTitle %}{{ post.chineseTitle }}{% else %}{{post.title}}{% endif %}</a></li>
      {% endfor %}
    </ul>
    <h4>中文博客</h4>
    <ul>
      {% set recent2 = collections.blog %}
      {% for post in recent2 %}
      {% if post.chineseTitle %}
      <li><a href="{{site_url}}{{post.path}}/">{{post.chineseTitle}}</a></li>
      {% endif %}

      {% endfor %}
    </ul>
    <a class="browse-all" href="{{site_url}}blog/archives">&laquo; Browse all posts by date</a>
    <hr/>
    <p>Have something interesting to say about Vert.x? Want to contribute to this blog? Just check the
      <a href="https://github.com/vert-x3/vertx-web-site/blob/master/BLOG.md">instructions</a>.
    <p>
  </div>
</div>
